<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>T12の計算</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div>
      <canvas id="ip_vg_curve_graf" width="" height=""></canvas>
      <script src="/static/graf/ip_vg_curve.js"></script>
    </div>
    <div>
      <canvas id="ip_vp_curve_graf" width="" height=""></canvas>
      <script src="/static/graf/ip_vp_curve.js"></script>
    </div>
    <div>
      <canvas id="vp_vg_curve_graf" width="" height=""></canvas>
      <script src="/static/graf/vp_vg_curve.js"></script>
    </div>
    <div><script src="/static/calculations/calculations_a.js"></script></div>
    <div><script src="/static/comment/comment.js"></script></div>
  </body>
</html>
